<div id="container">

  <span id="title">{{ isEdition ? 'Edition' : 'Ajout' }} voiture</span>

  <app-listing-navigation></app-listing-navigation>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="input">

      <div class="control">
        <input class="form-input" id="name" formControlName="name" type="text">
      </div>

      <div class="error">
        <div *ngIf="form.controls.name.touched && form.controls.name.invalid" class="alert">
          <div *ngIf="form.controls.name.errors?.required">Veuillez renseigner le modèle de la voiture</div>
        </div>
      </div>

    </div>

    <div class="input">

      <div class="control checkboxes">
        <label formArrayName="colors" *ngFor="let color of colorsFormArray.controls; let i = index">
          <input type="checkbox" [formControlName]="i">
          {{ colors[i].name }}
        </label>
      </div>


      <div class="error">
        <div *ngIf="form.controls.colors.touched && form.controls.colors.invalid" class="alert">
          <div *ngIf="form.controls.colors.errors?.required">Veuillez choisir au moins une couleur.</div>
        </div>
      </div>

    </div>

    <div id="submit">
      <button type="submit" [disabled]="!form.dirty || form.invalid">{{ isEdition ? 'Editer' : 'Ajouter' }}</button>
      <p *ngIf="displayMessage" id="message">La voiture a été {{ isEdition ? 'modifiée' : 'ajoutée' }} avec succès !</p>
    </div>
  </form>
