<div #background class="modal-background hidden">
  <div #modal class="modal-body" (appClickOutside)="closeDeleteModal()">
    Souhaitez vous supprimer cette couleur: {{ color?.name }} ?
    <button (click)="deleteColor(true)">Oui</button>
    <button (click)="closeDeleteModal()">Non</button>
  </div>
</div>

<div id="container">
  <span id="title">Listing couleur</span>

  <div class="inline">
    <app-listing-navigation></app-listing-navigation>
    <button routerLink="detail">Ajouter</button>
  </div>

  <table>
    <tr id="headers">
      <th class="header">Couleur</th>
      <th class="header">Actions</th>
    </tr>

    <tbody>
      <tr
        class="row"
        [ngClass]="i % 2 ? 'grey' : ''"
        *ngFor="let color of colors; let i = index"
      >
        <td class="cell">{{ color.name }}</td>
        <td class="cell">
          <span [routerLink]="['detail', color.id]">Editer</span>
          -
          <span (click)="openDeleteModal(color)">Supprimer</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
